* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #494949;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover .card {
  transform: rotate(calc(var(--i) * 5deg))
    translate(calc(var(--i) * 120px), -50px);
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25); */
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container:active .card:not(:active) {
  background-color: #333;
}

.container .card:active {
  translate: calc(var(--i) * 20px) -50px;
  z-index: 999;
}

.container .card {
  position: absolute;
  width: 240px;
  height: 360px;
  background-color: #f7d200;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  font-size: 8em;
  font-weight: 700;
  border: 10px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  transform-origin: 50% 100%;
  filter: hue-rotate(calc(var(--i) * 60deg));
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1); */
}
