<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
</head>
<body>
<div th:fragment="commonMenu">
    <div sec:authorize="isAuthenticated()">
        <ul class="menu menu-horizontal bg-base-200">
            <li><a th:href="@{/article/list}">Blog List</a></li>
            <li><a th:href="@{/article/new}">New blog</a></li>
            <li><a th:href="@{/settings}">Settings</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <ul class="menu menu-horizontal bg-base-200">
            <li><a th:href="@{/register}">Register</a> </li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</div>
</body>
</html>