<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <th:block th:insert="~{common-head :: commonHead}"></th:block>
    <title>HDBlog System Home</title>
</head>
<body>
<div class="font-sans w-full" id="app">
    <div th:insert="~{common-menu :: commonMenu}"></div>
    <div>
        <div class="p-4">
            <h1 class="text-3xl">Welecom to HDBlog System</h1>
            <div class="overflow-x-auto" th:fragment="article-list">
                <table class="table table-zebra" id="article-table">
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Creation Time</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article: ${articles}" class="hover"
                        th:onclick="'window.location.href=\'' + @{/show/{id}(id=${article.id})} + '\''">
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.user.name}"></td>
                        <td th:text="${#temporals.format(article.creationTime, 'yyyy/MM/dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>