<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{common-head :: commonHead}"></th:block>
    <title>HDBlog System Home | Login</title>
</head>
<body>
<div class="font-sans w-full" id="app">
    <div class="p-4">
        <h1 class="text-3xl">Login to HDBlog</h1>
        <form class="flex flex-col gap-4" method="POST" th:action="@{/login}">
            <label class="input input-bordered flex items-center gap-2">
                Email
                <input type="text" class="grow" placeholder="your@email.address" name="username"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                Password
                <input type="password" class="grow" placeholder="your password" name="password"/>
            </label>
            <p class="text-red-500" th:if="${param.error}">Invalid username and password.</p>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>