<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{common-head :: commonHead}"></th:block>
    <title>HDBlog System Home | Login</title>
</head>
<body>
<div class="font-sans w-full" id="app">
    <div th:insert="~{common-menu :: commonMenu}"></div>
    <div class="p-4">
        <h1 class="text-3xl">Logout to HDBlog</h1>
        <form class="flex flex-col gap-4" method="POST" th:action="@{/logout}">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>
</div>
</body>
</html>