<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{common-head :: commonHead}"></th:block>
    <title>HDBlog System Home | Settings</title>
</head>
<body>
<div class="font-sans w-full" id="app">
    <div class="p-4">
        <h1 class="text-3xl">Settings</h1>
        <form class="flex flex-col gap-4" method="POST" th:action="@{/settings}" th:object="${user}">
            <input type="hidden" th:field="*{id}" />
            <label class="input input-bordered flex items-center gap-2">
                Password
                <input type="password" class="grow" placeholder="your password" th:field="*{password}" />
                <span class="text-red-500" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                Name
                <input type="text" class="grow" placeholder="Your name" th:field="*{name}" />
                <span class="text-red-500" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            </label>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>