{% extends 'base.html' %}

{% block content %}
<div class="p-4">
    <h1 class="text-3xl">Enroll in Web Development Bootcamp</h1>

    <h1>{ enroll.name } </h1>
    <from action="" class="flex flex-col gap-4">
        <label class="input input-bordered flex items-center gap-2">
            Name
            <input type="text" name="name" class="grow" placeholder="Your name" v-model="enroll.name" />
        </label>
        <label class="input input-bordered flex items-center gap-2">
            Email
            <input type="text" name="email" class="grow" placeholder="your@email.address" v-model="enroll.email" />
        </label>
        <div>
            <p class="mt-4">Select the time slot available for camp enrollment</p>
            <div class="form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">Tue 3:00PM-5:00PM</span>
                    <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Enroll</button>
    </from>
</div>
{% endblock %}