<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{common-head :: commonHead}"></th:block>
    <title>HDBlog System Home | Login</title>
</head>
<body>
<div class="font-sans w-full" id="app">
    <th:block th:replace="~{common-menu :: commonMenu}"></th:block>
    <div class="p-4">
        <h1 class="text-3xl">Error</h1>
        <div class="p-4">
            <p class="text-red-500" th:text="${error}">Error</p>
        </div>
    </div>
</div>
</body>
</html>